body {
    margin: 0;
    font-family: monospace;
    height: 100vh;
}

#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: white;
    background-color: black;
    font-size: 32px;
}

.container {
    display: flex;
    height: 100%;
    color: white;
}

.side-bar, .content {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding-top: 5px;
}

.side-bar {
    max-width: 300px;
    flex: 1 1 auto;
    align-items: center;
    background-color: rebeccapurple;
}   

.content {
    flex: 3 1 auto;
    background-color: green;
    align-items: flex-start;

}

.info {
    padding-left: 16px;
}

.new-project {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 90%;
    margin-bottom: 8px;
}

.create-btn {
    font-family: monospace;
    font-size: 16px;
    color: white;
    padding: 6px 12px;
    background-color: #3882F6;
    border-radius: 15px;
}

.project {
    width: 80%;
    height: 300px;
    border: 2px solid red;
    background-color: burlywood;
    color: black;
    padding-left: 16px;
    overflow: auto;
    margin-left: 5x;
}

.todo-item {
    display: flex;
    flex-direction: column;
    margin: 3px 8px;
    background-color: yellow;
    color: white;
}

.project-title {
    width: 90%;
    height: 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    border: 0px;
}

.project-name {
    font-size: 22px;
    width: 90%;
    background-color: tomato;
    margin: 6px 0px;
}

.header {
    margin-bottom: 5px;
    align-self: flex-start;
    padding-left: 5px;
}

