body {
    margin: 0;
    font-family: monospace;
    height: 100vh;
}

#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: white;
    background-color: black;
    font-size: 32px;
}

.container {
    display: flex;
    height: 100%;
    color: white;
}

.side-bar, .content {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    padding-top: 5px;
}

.side-bar {
    max-width: 300px;
    flex: 1 1 auto;
    align-items: center;
    background-color: rebeccapurple;
}   

.content {
    flex: 3 1 auto;
    background-color: green;
    align-items: flex-start;
    padding-left: 8px;

}

.new-project {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 90%;
    margin-bottom: 8px;
}

.create-btn {
    font-family: monospace;
    font-size: 16px;
    color: white;
    padding: 6px 12px;
    background-color: #3882F6;
    border-radius: 15px;
}

.project {
    width: 80%;
    height: 300px;
    border: 2px solid red;
    background-color: burlywood;
    color: black;
    padding-left: 16px;
    overflow: auto;
    margin-left: 5x;
}

.todo-item {
    display: flex;
    align-items: center;
    width: 90%;
    height: 40px;
    margin: 8px;
    background-color: yellow;
    color: brown;
    justify-content: space-between;
    padding: 0px 3px;
}

.project-title {
    width: 90%;
    height: 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
    border: 0px;
}

.project-name {
    font-size: 22px;
    width: 90%;
    background-color: tomato;
    margin: 6px 0px;
    transition: 100ms;
}

.project-name:hover, .today-todo:hover {
    transform: translate(1%, 1%);
}

.selected {
    background-color: blue;
}

.header {
    margin-bottom: 5px;
    align-self: flex-start;
    padding-left: 5px;
}

#add-todo {
    margin-bottom: 20px;
}

.todo-div {
    width: 100%;
    height: 100%;
}

.due-date-field {
    font-size: 18px;
}






/* MODAL STYLES */

#todo-modal, #details-modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }


.details-content, .modal-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fefefe;
    border: 1px solid #888;
    margin: 10% auto; 
    border-radius: 15px;
    align-items: flex-start;
    padding: 20px;
    font-size: 18px;
    font-weight: 200;
}

.modal-content {
    width: 300px;
    height: 320px;
    
}

.details-content {
    width: 600px;
    height: 150px;
    padding: 10px;
}


  .close {
    align-self: flex-end;
    background-color: #fefefe;
    border-radius: 30px;
    border: 0px;
    font-size: 28px;
    font-weight: bold;
  }

  .todo-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 80%;
    height: 60px;
}

.save-todo, .details-btn {
    font-family: monospace;
    color: black;
    background-color: blanchedalmond;
    border-radius: 4px;
    border: 0px;
    font-size: 16px;
    padding: 8px 16px;
    margin: auto;
}

.details-btn {
    padding: 6px 12px;
    margin-right: 5px;
}

.save-todo:hover {
    border: 2px solid black;
}

input, textarea {
    font-size: 16px;
}

.grouped-info {
    width: 100%;
    display: flex;
    gap: 50px;
}

.title {
    font-size: 24px;
    font-weight: 400;
}

.checked-info, .priority, .priority-label {
    font-size: 16px;
    padding: 0px 3px;
    color: white;
}

.priority-label  {
    color: black;
}